<h1>Our latest issues</h1>
<h2><%= link_to "Start a new issue", :new_issue, :class => "button" %></h2>
<br><br>
<%- @issues.each do |i| %>
  <div class="issue_index">
    <%= image_tag i.pics[0].pic.url(:tiny), :style => "width:80px; float:left; margin: 5px;"%>
    <%= link_to i.title, show_issue_path(i.slug) %><br>
    <%= i.description %>
  </div>
<% end %>
